<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Orders Made:</dt>
    <dd><%= @user.orders.count %></dd>
    <dt>Reviews Written:</dt>
    <dd><%= @user.reviews.count %></dd>
  </dt>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#orders" data-toggle="tab" aria-expanded="false"><h3>Orders</h3></a></li>
  <li class=""><a href="#reviews" data-toggle="tab" aria-expanded="true"><h3>Reviews</h3></a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="orders">
    <p>
      <section class="reviews container">
        <div class="row">
          <% @user.orders.each do |order| %>
            <article class="review">
              <div class="col-sm-2">
                <p>
                  Date: <%= display_datetime(order.created_at) %>
                </p>
              </div>
              <div class="col-sm-8">
                <p>
                  Total: $<%= order.total.to_f/100 %>
                </p>
              </div>
            </article>
          <% end %>
        </div>
      </section>
    </p>
  </div>
  <div class="tab-pane fade active in" id="reviews">
    <p>
      <section class="reviews container">
        <div class="row">
          <% @user.reviews.each do |review| %>
            <article class="review">
              <div class="col-sm-8">
                <span><%= review.title %></span>
                <br><%= "Rating: #{review.rating}/5 " %><br>
                <p><small>By <%= link_to review.user.username, review.user %></small></p>
                <p><%= review.content %></p>
              </div>
              <div class="col-sm-2 col-sm-offset-2">
                <%= link_to "Delete Review", product_review_path(product_id: review.product, id: review.id), method: :delete, class: 'btn btn-default'%>
              </div>
            </article>
          <% end %>
        </div>
      </section>
    </p>
  </div>
</div>
