<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Purchases Made:</dt>
    <dd><%= @user.products.count %></dd>
  </dt>
</div>

<h5><%= @user.username %>'s Activity</h5>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Orders</a></li>
  <li role="presentation"><a href="#">Reviews</a></li>
</ul>


<%= link_to "Delete Review", "", method: :delete, class: 'btn btn-default'%>
