<%= render 'shared/content_title', title: "Shopping Cart" %>
<section class="cart">
  <article>
    <%= form_tag update_cart_path do %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:10%"></th>
            <th style="width:30%"></th>
            <th style="width:10%"> Price</th>
            <th style="width:20%"> Quantity</th>
            <th style="width:15%"> Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <%= hidden_field_tag "cart_items[][id]", cart_item.id %>
              <td>
                <%= link_to product_path(cart_item.product) do %>
                  <%= image_tag(cart_item.product.small_image_path, width: "100", class: "img-rounded") %>
                <% end %>
              </td>
              <td><%= link_to cart_item.product.title, cart_item.product %></td>
              <td><%= dollars(cart_item.product.price) %></td>
              <td><%= select_tag "cart_items[][quantity]", options_for_quantities(cart_item.quantity) %></td>
              <td>
                <%= link_to cart_item, method: :delete do %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <span>
        <%= "Subtotal (#{current_user.items_in_cart} items):"%>
        <font color="DarkRed">
          <%= "$#{current_user.cart_total.to_f/100}" %>
        </font>
      </span>
    </article>
    <div class="col-sm-offset-8">
      <%= submit_tag "Update Quantity", class: "btn btn-default col-sm-5" %>
      <%= link_to "Checkout", new_order_path, class: "btn btn-primary col-sm-5 col-sm-offset-1" %>
    </div>
  <% end %>
</section>
