<product_format class="col-md-2 text-center">
  <p>
    <%= link_to product_path(product) do %>
      <%= image_tag(product.small_image_path) %>
    <% end %>
  </p>
  <p>
    <strong>
      <%= link_to product.title, product_path(product) %><br>
      <font color="DarkRed">$<%= (product.price.to_f/100).round(2) %></font><br>
      Rating: <%= product.rating %>
    </strong>
  </p>
</product_format>
