<div class = "col-md-offset-4" >
  <ul class="pagination">
    <% if @pages > 1 %>
      <% if @current_page == 1 %>
        <li><%= link_to "«", "" %></li>
      <% else %>
        <li><%= link_to "«", search_products_path(offset: Product::PER_PAGE*(@current_page - 2), search_term: @term) %></li>
      <% end %>

      <% @pages.times do |index| %>
        <% if @current_page - 1 == index %>
          <li class="disabled"><a href="#"><%= "#{index+1}" %></a></li>
        <% else %>
          <li><%= link_to "#{index+1}", search_products_path(offset: index*Product::PER_PAGE, search_term: @term) %></li>
        <% end %>
      <% end %>

      <% if @current_page == @pages %>
        <li><%= link_to "»", "" %></li>
      <% else %>
        <li><%= link_to "»", search_products_path(offset: Product::PER_PAGE*(@current_page), search_term: @term) %></li>
      <% end %>
    <% end %>
  </ul>
</div >
</article>
